body{
  font-family: 'Red Hat Text', sans-serif;
  background-color: #F6F2E4;
}

header{
  margin-top: 75px;
}

#header-content-right{
  line-height: 200px;
}
/* para citar ids pongo # */
#sobre-mi{
  background: #E3BEAB;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}
#conocimientos{
  padding-top: 40px;
  padding-bottom: 40px;
}
#barra1-color{
/*  background: #41161B; */
  background: #A43E37;
}

#laboral{
  background-color: #E3BEAB;
  padding: 40px 0 30px 0;
  text-align: center;
}

#contacto{
  padding: 40px 0 30px 0;
}

#icono1{
    margin: 20px;
}
